
Skip to main content


P
Switch teams
Projects
Builds
Extensions
Domains
Members
Audit log
Security Scorecard
Usage & billing
Team settings
Visual editor dashboard
Upgrade


Projects
paw-solinum
Switch projects

News


















































































Support
Project navigation
Project overview
Project configuration
Deploys
Preview Servers
Agent runs
Logs
Metrics
Web security
Domain management
Forms
Blobs
Deploy detailsYour deploy failed due to an error
Deploy failed for paw-solinum
Deploy failed due to an error in @netlify/plugin-nextjs plugin.
perhaps-2
Today at 8:34 PM, by Nicholas-SiahaanNicholas-Siahaan on GitHubwithNext.js

Production: main@fd6b4b7

Retry
Deploy settings
Delete deploy
Fancy a game?
This deploy is done, but hey, you can still play if you want to!

Play game
Deploy summary
Plugin "@netlify/plugin-nextjs" failed

Error: Your publish directory was not found at: /opt/build/repo/frontend/frontend/.next. Please check your build settings

Deploy log
Why did it fail?




Maximize log

Loading…
Reviewing the logs...
Need more help? Go to Ask Netlify

Retry diagnostics
Netlify uses AI to analyze and generate solutions to fix deploy failures. It may not always understand the full context or produce a reliable, accurate answer. To learn more, please refer to our docs.

Did you find this helpful? Your feedback helps improve this feature.



Initializing
Complete
Building
Failed
8:34:25 PM: Netlify Build                                                 
8:34:25 PM: ────────────────────────────────────────────────────────────────
8:34:25 PM: ​
8:34:25 PM: ❯ Version
8:34:25 PM:   @netlify/build 35.3.4
8:34:25 PM: ​
8:34:25 PM: ❯ Flags
8:34:25 PM:   accountId: 691c5b9a088d8e14f283a47c
8:34:25 PM:   baseRelDir: true
8:34:25 PM:   buildId: 691c75d40b6cac0007271959
8:34:25 PM:   deployId: 691c75d40b6cac000727195b
8:34:25 PM: ​
8:34:25 PM: ❯ Current directory
8:34:25 PM:   /opt/build/repo/frontend
8:34:25 PM: ​
8:34:25 PM: ❯ Config file
8:34:25 PM:   /opt/build/repo/netlify.toml
8:34:25 PM: ​
8:34:25 PM: ❯ Context
8:34:25 PM:   production
8:34:25 PM: ​
8:34:25 PM: ❯ Using Next.js Runtime - v5.14.5
8:34:27 PM: No Next.js cache to restore
8:34:27 PM: ​
8:34:27 PM: build.command from netlify.toml                               
8:34:27 PM: ────────────────────────────────────────────────────────────────
8:34:27 PM: ​
8:34:27 PM: $ next build
8:34:27 PM:  ⚠ Warning: Next.js inferred your workspace root, but it may not be correct.
8:34:27 PM:  We detected multiple lockfiles and selected the directory of /opt/build/repo/package-lock.json as the root directory.
8:34:27 PM:  To silence this warning, set `turbopack.root` in your Next.js config, or consider removing one of the lockfiles if it's not needed.
   See https://nextjs.org/docs/app/api-reference/config/next-config-js/turbopack#root-directory for more information.
8:34:27 PM:  Detected additional lockfiles:
8:34:27 PM:    * /opt/build/repo/frontend/package-lock.json
8:34:27 PM: ⚠ No build cache found. Please configure build caching for faster rebuilds. Read more: https://nextjs.org/docs/messages/no-cache
8:34:27 PM:    ▲ Next.js 16.0.3 (Turbopack)
8:34:27 PM:    Creating an optimized production build ...
8:34:35 PM: Failed during stage 'building site': Build script returned non-zero exit code: 2 (https://ntl.fyi/exit-code-2)
8:34:31 PM:  ✓ Compiled successfully in 3.7s
8:34:31 PM:    Running TypeScript ...
8:34:31 PM:    Collecting page data using 31 workers ...
8:34:33 PM:    Generating static pages using 31 workers (0/14) ...
8:34:34 PM:    Generating static pages using 31 workers (3/14)
8:34:34 PM:    Generating static pages using 31 workers (6/14)
8:34:34 PM:    Generating static pages using 31 workers (10/14)
8:34:34 PM:  ✓ Generating static pages using 31 workers (14/14) in 691.2ms
8:34:34 PM:    Finalizing page optimization ...
8:34:34 PM: Route (app)
8:34:34 PM: ┌ ○ /
8:34:34 PM: ├ ○ /_not-found
8:34:34 PM: ├ ○ /auth/google/callback
8:34:34 PM: ├ ○ /auth/google/success
8:34:34 PM: ├ ○ /dashboard/admin
8:34:34 PM: ├ ○ /dashboard/approval-flow
8:34:34 PM: ├ ƒ /dashboard/approval-flow/[id]
8:34:34 PM: ├ ○ /dashboard/direktur-sdm
8:34:34 PM: ├ ƒ /dashboard/direktur-sdm/laporan/[id]
8:34:34 PM: ├ ○ /dashboard/hse
8:34:34 PM: ├ ƒ /dashboard/hse/laporan/[id]
8:34:34 PM: ├ ○ /dashboard/hse/laporan/buat
8:34:34 PM: ├ ○ /dashboard/kepala-bidang
8:34:34 PM: ├ ƒ /dashboard/kepala-bidang/laporan/[id]
8:34:34 PM: ├ ○ /forgot-password
8:34:34 PM: ├ ○ /hse/final-documents
8:34:34 PM: ├ ○ /login
8:34:34 PM: ├ ƒ /reset-password/[token]
8:34:34 PM: └ ƒ /verify/[id]
8:34:34 PM: ○  (Static)   prerendered as static content
8:34:34 PM: ƒ  (Dynamic)  server-rendered on demand
8:34:34 PM: ​
8:34:34 PM: (build.command completed in 7.7s)
8:34:34 PM: ​
8:34:34 PM: Plugin "@netlify/plugin-nextjs" failed                        
8:34:34 PM: ────────────────────────────────────────────────────────────────
8:34:34 PM: ​
8:34:34 PM:   Error message
8:34:34 PM:   Error: Your publish directory was not found at: /opt/build/repo/frontend/frontend/.next. Please check your build settings
8:34:34 PM: ​
8:34:34 PM:   Plugin details
8:34:34 PM:   Package:        @netlify/plugin-nextjs
8:34:34 PM:   Version:        5.14.5
8:34:34 PM:   Repository:     git+https://github.com/opennextjs/opennextjs-netlify.git
8:34:34 PM:   npm link:       https://www.npmjs.com/package/@netlify/plugin-nextjs
8:34:34 PM:   Report issues:  https://github.com/opennextjs/opennextjs-netlify/issues
8:34:34 PM: ​
8:34:34 PM:   Error location
8:34:34 PM:   In "onBuild" event in "@netlify/plugin-nextjs" from netlify.toml
8:34:34 PM: ​
8:34:34 PM:   Resolved config
8:34:34 PM:   build:
8:34:34 PM:     base: /opt/build/repo/frontend
8:34:34 PM:     command: next build
8:34:34 PM:     commandOrigin: config
8:34:34 PM:     environment:
8:34:34 PM:       - NEXT_PUBLIC_BACKEND_URL
8:34:34 PM:       - SECRETS_SCAN_OMIT_KEYS
8:34:34 PM:     publish: /opt/build/repo/frontend/frontend/.next
8:34:34 PM:     publishOrigin: config
8:34:34 PM:   plugins:
8:34:34 PM:     - inputs: {}
8:34:34 PM:       origin: config
8:34:34 PM:       package: "@netlify/plugin-nextjs"
8:34:35 PM: Build failed due to a user error: Build script returned non-zero exit code: 2
8:34:35 PM: Failing build: Failed to build site
8:34:35 PM: Finished processing build request in 21.857s
Deploying
Skipped
Cleanup
Skipped
Post-processing
Skipped
Docs
Pricing
Support
Blog
Changelog
Terms
© 2025 Netlify

Have a moment?

Take the 3-minute survey to share your thoughts so we can improve your experience in Netlify. Thank you!

Take survey
