# netlify.toml

[build]
  base    = "frontend"
  command = "npm run build"
  publish = ".next"

[build.environment]
  # Tambahkan ini untuk memberitahu Netlify untuk mengabaikan key ini
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_BACKEND_URL"

[context.production.environment]
  NEXT_PUBLIC_BACKEND_URL = "https://paw-solinum-gvud5xpg9-nicholas-siahaans-projects.vercel.app"