[build]
  base = "frontend"
  command = "next build"
  publish = "frontend/.next" 

  # Tambahkan ini kembali jika Anda ingin mengabaikan pemindaian untuk variabel yang diekspos
  [build.environment]
    SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_BACKEND_URL" 

[[plugins]]
  package = "@netlify/plugin-nextjs"