[build]
  # Tentukan lokasi folder frontend (Next.js) Anda
  base = "frontend"
  command = "next build"
  publish = "frontend/.next" 

[[plugins]]
  package = "@netlify/plugin-nextjs"
[build.environment]
  # Memberitahu scanner untuk mengabaikan variabel ini
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_BACKEND_URL"